* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  height: 100%;
}

.page {
  max-width: 1920px;
  height: 100%;
}

.header {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header__info {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(41, 37, 38, 0.8);
  -webkit-clip-path: polygon(0 75%, 50% 75%, 100% 60%, 100% 20%, 50% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 75%, 50% 75%, 100% 60%, 100% 20%, 50% 0, 100% 0, 100% 100%, 0 100%);
}

.header__info-group {
  position: absolute;
  width: 100%;
  padding: 3rem 1rem;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  color: #fff;
  line-height: 1.4;
}

.header__info-main {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.header__info-main--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__info-second {
  font-size: 1.8rem;
  font-weight: normal;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s 0.6s;
  transition: -webkit-transform 0.4s 0.6s;
  transition: transform 0.4s 0.6s;
  transition: transform 0.4s 0.6s, -webkit-transform 0.4s 0.6s;
}

.header__info-second--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__image {
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/peine_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header__nav {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .header {
    background-image: url("../images/peine_medium.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .header {
    background-image: url("../images/peine_big.jpg");
  }
}

.nav {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.nav__menu {
  position: absolute;
  width: 3rem;
  background-color: #d6d7dc;
  height: 0.6rem;
  border-radius: 5px;
  z-index: 999;
}

.nav__menu--first {
  top: 0;
  left: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(0) scaleX(1) translateY(0);
          transform: rotate(0) scaleX(1) translateY(0);
  -webkit-transition: all 0.2s 0.2s;
  transition: all 0.2s 0.2s;
}

.nav__menu--second {
  top: 50%;
  left: 0;
  -webkit-transform: rotate(0) scaleX(1) translateY(-0.3rem);
          transform: rotate(0) scaleX(1) translateY(-0.3rem);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s;
  transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
}

.nav__menu--third {
  bottom: 0;
  left: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(0) scaleX(1) translateY(0);
          transform: rotate(0) scaleX(1) translateY(0);
  -webkit-transition: all 0.2s 0.2s;
  transition: all 0.2s 0.2s;
}

.nav__menu--close-first {
  -webkit-transform: rotate(-45deg) scaleX(1.4) translateY(-0.3rem);
          transform: rotate(-45deg) scaleX(1.4) translateY(-0.3rem);
  background-color: #292526;
}

.nav__menu--close-second {
  -webkit-transform: rotate(-45deg) scaleX(1.3) translateY(-0.3rem);
          transform: rotate(-45deg) scaleX(1.3) translateY(-0.3rem);
  opacity: 0;
  visibility: hidden;
  background-color: #292526;
}

.nav__menu--close-third {
  -webkit-transform: rotate(45deg) scaleX(1.4) translateY(0.3rem);
          transform: rotate(45deg) scaleX(1.4) translateY(0.3rem);
  background-color: #292526;
}

.nav__space {
  position: fixed;
  width: 80%;
  height: 85%;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background-color: rgba(214, 215, 220, 0.95);
  -webkit-transition: 0.4s 0.1s;
  transition: 0.4s 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10vh 0;
}

.nav__space--show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav__item:hover {
  background-color: rgba(41, 37, 38, 0.8);
}

.nav__item:hover .nav__icon {
  fill: #fff;
}

.nav__item:hover .nav__item-text {
  color: #fff;
}

.nav__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__icon {
  fill: #5f5558;
  height: 3rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -ms-flex-preferred-size: 3rem;
      flex-basis: 3rem;
  -webkit-transition: fill 0.2s, -webkit-transform 0.4s 0.3s;
  transition: fill 0.2s, -webkit-transform 0.4s 0.3s;
  transition: transform 0.4s 0.3s, fill 0.2s;
  transition: transform 0.4s 0.3s, fill 0.2s, -webkit-transform 0.4s 0.3s;
}

.nav__icon--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.nav__item-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-size: 1.8rem;
  font-family: "Poppins", "sans-serif";
  color: #292526;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
}

.footer__info {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  line-height: 3rem;
  font-family: "Poppins", "sans-serif";
}

.page--sub {
  background-image: url("../ravenna/ravenna.png");
}

.header__info--sub {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 12%, 0 18%);
          clip-path: polygon(0 0, 100% 0, 100% 12%, 0 18%);
  height: 600px;
}

.header__info-group--sub {
  height: 95px;
  padding: 0 0 0 1rem;
  bottom: auto;
  top: 0;
  width: 70%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer--sub {
  background-color: rgba(41, 37, 38, 0.8);
}

.content {
  width: 100%;
  padding: 20vh 2rem 5vh;
}

.content__section {
  padding-bottom: 4rem;
}

.content__header {
  font-size: 2.2rem;
  font-family: "Poppins", "sans-serif";
  color: #292526;
  padding-bottom: 0.2rem;
  margin-bottom: 1.5rem;
  border-bottom: solid 3px #292526;
}

.content__info {
  font-size: 1.5rem;
  font-family: "Poppins", "sans-serif";
  text-indent: 4rem;
  text-align: justify;
  color: #292526;
  overflow: hidden;
}

.content__small-part {
  padding-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */