*,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  height: 100%;
}

.page {
  height: 100%;
  background-color: #292526;
}

.header {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 8rem - 10vw);
    left: 5vw;
  }
}

.header__info {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(41, 37, 38, 0.8);
  -webkit-clip-path: polygon(0 78%, 50% 76%, 100% 60%, 100% 20%, 50% 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 78%, 50% 76%, 100% 60%, 100% 20%, 50% 0, 100% 0, 100% 100%, 0 100%);
}

@media screen and (min-width: 1024px) {
  .header__info {
    left: -2px;
    width: calc(100% + 4px);
    -webkit-clip-path: polygon(0 0, 25% 0, 10% 100%, 55% 100%, 70% 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 25% 0, 10% 100%, 55% 100%, 70% 0, 100% 0, 100% 100%, 0 100%);
  }
}

.header__info-group {
  position: absolute;
  width: 100%;
  height: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem 4rem;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Poppins", "sans-serif";
  color: #fff;
  line-height: 1.4;
}

@media screen and (min-width: 1024px) {
  .header__info-group {
    width: 30vw;
    left: auto;
    right: 0;
    padding: 1rem 2rem 25rem;
  }
}

.header__info-main {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  font-style: italic;
}

.header__info-main--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 1024px) {
  .header__info-main {
    font-size: 3rem;
  }
}

.header__info-second {
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s 0.6s;
  transition: -webkit-transform 0.4s 0.6s;
  transition: transform 0.4s 0.6s;
  transition: transform 0.4s 0.6s, -webkit-transform 0.4s 0.6s;
  font-style: italic;
}

.header__info-second--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 1024px) {
  .header__info-second {
    font-size: 1.5rem;
  }
}

.header__image {
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/peine_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 500px) {
  .header__image {
    background-image: url("../images/peine_medium.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .header__image {
    background-image: url("../images/peine_big.jpg");
  }
}

.header__cross {
  position: absolute;
  width: 12rem;
  height: 12rem;
  top: 5rem;
  left: 4%;
  background-image: url("../images/lauburu.svg");
  -webkit-filter: invert(95%);
          filter: invert(95%);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  display: none;
  -webkit-transition: 3s linear;
  transition: 3s linear;
}

.header__cross:hover {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

@media screen and (min-width: 1024px) {
  .header__cross {
    display: block;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -8rem;
  font-size: 1rem;
  height: 100%;
  width: 8rem;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.8s 0.4s ease;
    transition: 0.8s 0.4s ease;
  }
  .nav--show-nav {
    -webkit-transform: translateX(calc(-8rem - 5vw));
            transform: translateX(calc(-8rem - 5vw));
  }
}

.nav__mobile {
  top: 2rem;
  right: 2rem;
  position: fixed;
  width: 3rem;
  height: 2rem;
  z-index: 3;
}

@media screen and (min-width: 1024px) {
  .nav__mobile {
    display: none;
  }
}

.nav__menu {
  position: absolute;
  background-color: #fff;
  height: 0.4rem;
}

.nav__menu--first {
  top: 0;
  right: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(0) scaleX(1) translateY(0);
          transform: rotate(0) scaleX(1) translateY(0);
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
  width: 3rem;
}

.nav__menu--second {
  top: 50%;
  right: 0;
  -webkit-transform: rotate(0) scaleX(1) translateY(-0.2rem);
          transform: rotate(0) scaleX(1) translateY(-0.2rem);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s;
  transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  width: 2.5rem;
}

.nav__menu--third {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(0) scaleX(1) translateY(0);
          transform: rotate(0) scaleX(1) translateY(0);
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
  width: 2rem;
}

.nav__menu--close-first {
  -webkit-transform: rotate(-45deg) scaleX(0.95) translateY(-0.2rem);
          transform: rotate(-45deg) scaleX(0.95) translateY(-0.2rem);
  background-color: #292526;
}

.nav__menu--close-second {
  -webkit-transform: rotate(-45deg) scaleX(1.1) translateY(-0.2rem);
          transform: rotate(-45deg) scaleX(1.1) translateY(-0.2rem);
  opacity: 0;
  visibility: hidden;
  background-color: #292526;
}

.nav__menu--close-third {
  -webkit-transform: rotate(45deg) scaleX(1.4) translateY(0.2rem);
          transform: rotate(45deg) scaleX(1.4) translateY(0.2rem);
  background-color: #292526;
}

.nav__space {
  position: absolute;
  width: 75vw;
  height: 450px;
  top: 0;
  right: calc(-75vw + 8rem);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../images/brickwall.png");
  -webkit-transition: 0.4s 0.1s;
  transition: 0.4s 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6rem 0 5rem;
  -webkit-box-shadow: inset 0 -2rem 0 #292526;
          box-shadow: inset 0 -2rem 0 #292526;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
}

.nav__space--show {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (min-width: 1024px) {
  .nav__space {
    position: absolute;
    right: 0rem;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    display: block;
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-left: 0.6rem solid #292526;
  }
  .nav__space::after {
    display: block;
    width: 10vw;
    height: 100%;
    top: 0;
    right: -10vw;
    content: '';
    background-color: green;
    z-index: 100;
    position: absolute;
    background-color: #292526;
  }
}

.nav__item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (min-width: 1024px) {
  .nav__item {
    position: absolute;
    width: 32rem;
    height: 6rem;
    margin-left: -0.6rem;
    border-left: 0.6rem solid #292526;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/brickwall.png");
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__item--home {
    top: 0;
  }
  .nav__item--home:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--info {
    top: 6rem;
  }
  .nav__item--info:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--history {
    top: 12rem;
  }
  .nav__item--history:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--attractions {
    top: 18rem;
  }
  .nav__item--attractions:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--hospitality {
    top: 24rem;
  }
  .nav__item--hospitality:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--gallery {
    top: 30rem;
  }
  .nav__item--gallery:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
}

.nav__link {
  text-decoration: none;
  padding: 0 5%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.nav__link:hover, .nav__link:focus {
  background-color: rgba(41, 37, 38, 0.4);
}

.nav__link:hover .nav__icon,
.nav__link:focus .nav__icon {
  fill: #fff;
}

.nav__link:hover .nav__item-text,
.nav__link:focus .nav__item-text {
  color: #fff;
}

.nav__link--current {
  background-color: #194019;
}

.nav__link--current .nav__icon {
  fill: #fff;
}

.nav__link--current .nav__item-text {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .nav__link {
    padding: 0;
  }
}

.nav__icon {
  fill: #443d3f;
  height: 3rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -ms-flex-preferred-size: 3rem;
      flex-basis: 3rem;
  -webkit-transition: fill 0.2s, -webkit-transform 0.4s 0.3s;
  transition: fill 0.2s, -webkit-transform 0.4s 0.3s;
  transition: transform 0.4s 0.3s, fill 0.2s;
  transition: transform 0.4s 0.3s, fill 0.2s, -webkit-transform 0.4s 0.3s;
}

.nav__icon--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 1024px) {
  .nav__icon {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.4rem;
            flex: 0 0 7.4rem;
  }
}

.nav__item-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
  color: #292526;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 1.4;
}

@media screen and (min-width: 1024px) {
  .nav__item-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 24.6rem;
            flex: 0 1 24.6rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: #292526;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .footer {
    width: calc(100% - 8rem - 10vw);
    left: 5vw;
  }
}

.footer__info {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  line-height: 3rem;
  font-family: "Poppins", "sans-serif";
}

.header--sub {
  height: 10px;
}

.header__info--sub {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  height: 90px;
  background-color: #194019;
}

.header__info-group--sub {
  height: 80px;
  padding: 1.5rem 0 0 2rem;
  bottom: auto;
  top: 0;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 1024px) {
  .header__info-group--sub {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 12rem;
  }
}

.header__info-main--sub {
  font-weight: normal;
  color: #fff;
  font-size: 2rem;
}

@media screen and (min-width: 1024px) {
  .header__info-main--sub {
    font-size: 2.4rem;
  }
}

.arrow__nav {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  display: none;
  cursor: pointer;
}

.arrow__nav--show {
  display: block;
}

@media screen and (min-width: 1024px) {
  .arrow__nav {
    right: calc(5vw + 1.7rem);
  }
}

.arrow__nav-icon {
  width: 100%;
  height: 100%;
  fill: rgba(41, 37, 38, 0.4);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.content {
  padding: 13rem 2rem 3rem;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../images/brickwall.png");
}

@media screen and (min-width: 1024px) {
  .content {
    width: calc(100% - 8rem - 10vw);
    padding: 16rem 12rem 10rem;
    margin-left: 5vw;
  }
}

.content__section {
  padding-bottom: 4rem;
}

.content__header {
  font-size: 1.6rem;
  font-family: "Poppins", "sans-serif";
  color: #292526;
  margin-bottom: 1.5rem;
  width: 100%;
}

.content__header::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: 0.2rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #292526;
  display: block;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

@media screen and (min-width: 1024px) {
  .content__header {
    font-size: 1.8rem;
  }
}

.content__header--show-line.content__header::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.content__info {
  font-size: 1.3rem;
  font-family: "Poppins", "sans-serif";
  text-indent: 4rem;
  text-align: justify;
  color: #292526;
  overflow: hidden;
}

@media screen and (min-width: 1024px) {
  .content__info {
    font-size: 1.5rem;
    text-indent: 6rem;
  }
}

.content__small-part {
  padding-bottom: 1rem;
}

.content__list-item {
  padding-bottom: 0.5rem;
  list-style-position: inside;
  list-style-type: disc;
  text-indent: 0;
}

.content__figure {
  width: 100%;
  padding-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .content__figure {
    width: 60%;
    margin: 0 auto;
    padding-top: 4rem;
  }
}

.content__table {
  margin-top: 2rem;
}

.content__figure-info {
  font-size: 1rem;
  font-style: italic;
  font-family: "Poppins", "sans-serif";
  color: #292526;
  padding-top: 0.6rem;
}

.content__picture {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.table {
  width: 100%;
  background-color: white;
  font-family: "Poppins", "sans-serif";
  font-size: 1.2rem;
  line-height: 1.4;
  border: 1px solid #93878a;
  border-collapse: collapse;
}

@media screen and (min-width: 1024px) {
  .table {
    width: 50%;
    margin: 4rem auto;
    font-size: 1.4rem;
  }
}

.table__caption {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  .table__caption {
    font-size: 1.4rem;
  }
}

.table__header {
  background-color: #194019;
  color: #fff;
}

.table__header-item, .table__footer-item {
  padding: 1rem;
  border: 0.5px solid white;
}

.table__footer {
  background-color: rgba(41, 37, 38, 0.81);
  color: #fff;
  font-weight: bold;
}

.table__body-item {
  padding: 0.8rem;
  border: 0.5px solid #292526;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 9rem;
  width: 100%;
  background-color: #292526;
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding-left: 5vw;
    padding-top: 5rem;
    padding-right: calc(5vw + 8rem);
  }
}

.gallery__item {
  display: block;
  font-size: 0;
  width: 100%;
  overflow: hidden;
}

.gallery__img {
  max-width: 100%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.gallery__img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__info--gallery {
  background-color: rgba(41, 37, 38, 0.8);
}
/*# sourceMappingURL=style.css.map */