*,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 10px;
  height: 100%;
}

.page {
  height: 100%;
  background-color: #292526;
}

.header {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (min-width: 1280px) {
  .header {
    position: relative;
    width: 112rem;
    overflow: hidden;
    margin-left: calc((100vw - 112rem - 8rem) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .header {
    width: 142rem;
    margin-left: calc((100vw - 142rem - 8rem) / 2);
  }
}

.header__info {
  position: absolute;
  width: 100%;
  height: 28%;
  bottom: 0;
  left: 0;
  background-color: rgba(41, 37, 38, 0.8);
  -webkit-clip-path: ellipse(100% 100% at 50% 100%);
          clip-path: ellipse(100% 100% at 50% 100%);
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__info {
    width: 45%;
    height: 100%;
    left: auto;
    right: 0;
    -webkit-clip-path: ellipse(88% 100% at 95% 60%);
            clip-path: ellipse(88% 100% at 95% 60%);
  }
}

.header__info-group {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 4rem;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Proza Libre", sans-serif;
  color: #fff;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__info-group {
    left: auto;
    right: 0;
    padding: 2rem 2rem 3rem;
    height: 70%;
    width: 95%;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__info-group {
    padding: 2rem 3rem 3rem;
    height: 70%;
    width: 95%;
  }
}

@media screen and (min-width: 1280px) {
  .header__info-group {
    height: 50%;
    padding: 1rem 2rem 10rem;
  }
}

.header__info-main {
  font-size: 2.4rem;
  font-weight: 600;
  font-style: italic;
  padding-bottom: 0.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}

.header__info-main--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .header__info-main {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__info-main {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 1600px) {
  .header__info-main {
    font-size: 3.6rem;
  }
}

.header__info-second {
  font-size: 1.2rem;
  font-weight: normal;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s 0.6s;
  transition: -webkit-transform 0.4s 0.6s;
  transition: transform 0.4s 0.6s;
  transition: transform 0.4s 0.6s, -webkit-transform 0.4s 0.6s;
  font-style: italic;
}

.header__info-second--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .header__info-second {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__info-second {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1600px) {
  .header__info-second {
    font-size: 2rem;
  }
}

.header__image {
  min-width: 100%;
  min-height: 100%;
  background-image: url("../images/peine_small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__image {
    background-image: url("../images/peine_medium.jpg");
    background-position: left 30% top 30%;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .header__image {
    background-image: url("../images/peine_medium.jpg");
    background-position: left 35% top 30%;
  }
}

@media screen and (min-width: 1280px) {
  .header__image {
    background-image: url("../images/peine_big.jpg");
  }
}

.header__shadow {
  position: absolute;
  background-color: rgba(41, 37, 38, 0.8);
  width: 20rem;
  height: 20rem;
  top: 0;
  right: 0;
  -webkit-transform: rotate(-45deg) translateX(70%);
          transform: rotate(-45deg) translateX(70%);
  -webkit-clip-path: ellipse(100% 100% at 100% 10%);
          clip-path: ellipse(100% 100% at 100% 10%);
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__shadow {
    -webkit-transform: rotate(10deg) translateY(-10%);
            transform: rotate(10deg) translateY(-10%);
    -webkit-transform-origin: left top;
            transform-origin: left top;
    right: auto;
    left: 0;
    height: 110%;
    width: 20%;
    -webkit-clip-path: ellipse(95% 100% at 5% 30%);
            clip-path: ellipse(95% 100% at 5% 30%);
  }
}

.header__cross {
  position: absolute;
  background-image: url("../images/lauburu.svg");
  -webkit-filter: invert(95%);
          filter: invert(95%);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  display: none;
  -webkit-transition: 0.5s linear;
  transition: 0.5s linear;
}

.header__cross:hover {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__cross {
    display: block;
    width: 6rem;
    height: 6rem;
    top: 3rem;
    right: auto;
    left: 4%;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__cross {
    width: 11rem;
    height: 11rem;
    top: 4rem;
  }
}

@media screen and (min-width: 1280px) {
  .header__cross {
    width: 12rem;
    height: 12rem;
    top: 5rem;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: -8rem;
  font-size: 1rem;
  height: calc(100% - 3rem);
  width: 8rem;
  cursor: pointer;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .nav {
    z-index: 2;
  }
}

@media screen and (min-width: 1280px) {
  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.8s 0.4s ease;
    transition: 0.8s 0.4s ease;
  }
  .nav--show-nav {
    -webkit-transform: translateX(calc(((100vw - 112rem + 8rem) / 2) * (-1)));
            transform: translateX(calc(((100vw - 112rem + 8rem) / 2) * (-1)));
  }
}

@media screen and (min-width: 1600px) {
  .nav--show-nav {
    -webkit-transform: translateX(calc(((100vw - 142rem + 8rem) / 2) * (-1)));
            transform: translateX(calc(((100vw - 142rem + 8rem) / 2) * (-1)));
  }
}

.nav__mobile {
  top: 1rem;
  right: 2rem;
  position: fixed;
  width: 3rem;
  height: 2rem;
  z-index: 3;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .nav__mobile {
    top: 2rem;
    right: 3rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .nav__mobile {
    top: 2rem;
    right: 3rem;
  }
}

@media screen and (min-width: 1280px) {
  .nav__mobile {
    display: none;
  }
}

.nav__menu {
  position: absolute;
  background-color: #fff;
  height: 0.4rem;
}

.nav__menu--first {
  top: 0;
  right: 0;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(0) scaleX(1) translateY(0);
          transform: rotate(0) scaleX(1) translateY(0);
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
  width: 3rem;
}

.nav__menu--second {
  top: 50%;
  right: 0;
  -webkit-transform: rotate(0) scaleX(1) translateY(-0.2rem);
          transform: rotate(0) scaleX(1) translateY(-0.2rem);
  -webkit-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  transition: visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s;
  transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s, -webkit-transform 0.2s;
  width: 2.5rem;
}

.nav__menu--third {
  bottom: 0;
  right: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(0) scaleX(1) translateY(0);
          transform: rotate(0) scaleX(1) translateY(0);
  -webkit-transition: all 0.4s 0.2s;
  transition: all 0.4s 0.2s;
  width: 2rem;
}

.nav__menu--close-first {
  -webkit-transform: rotate(-45deg) scaleX(0.95) translateY(-0.2rem);
          transform: rotate(-45deg) scaleX(0.95) translateY(-0.2rem);
  background-color: #292526;
}

.nav__menu--close-second {
  -webkit-transform: rotate(-45deg) scaleX(1.1) translateY(-0.2rem);
          transform: rotate(-45deg) scaleX(1.1) translateY(-0.2rem);
  opacity: 0;
  visibility: hidden;
  background-color: #292526;
}

.nav__menu--close-third {
  -webkit-transform: rotate(45deg) scaleX(1.4) translateY(0.2rem);
          transform: rotate(45deg) scaleX(1.4) translateY(0.2rem);
  background-color: #292526;
}

.nav__space {
  position: absolute;
  width: 70vw;
  height: 35rem;
  top: 0;
  right: calc(-70vw + 8rem);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../images/brickwall.png");
  -webkit-transition: 0.4s 0.1s;
  transition: 0.4s 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 0 0;
  border-bottom: 1rem solid #292526;
}

.nav__space--show {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .nav__space {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
    overflow: auto;
    width: 60vw;
    right: calc(-60vw + 8rem);
    padding: 0 6rem 0 0;
    -webkit-box-shadow: inset 0 -0.5px 0 #292526;
            box-shadow: inset 0 -0.5px 0 #292526;
    border-bottom: 1rem solid #292526;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .nav__space {
    padding: 6rem 0 0;
    height: 35rem;
    width: 50vw;
    right: calc(-50vw + 8rem);
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .nav__space {
    padding: 6rem 0 0;
    height: 35rem;
    width: 40vw;
    right: calc(-40vw + 8rem);
  }
}

@media screen and (min-width: 1280px) {
  .nav__space {
    position: absolute;
    right: 0rem;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    display: block;
    -webkit-clip-path: none;
            clip-path: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-left: 0.6rem solid #292526;
    overflow: initial;
    border-bottom: none;
  }
  .nav__space::after {
    display: block;
    width: 30vw;
    height: 100%;
    top: 0;
    right: -30vw;
    content: '';
    z-index: 100;
    position: absolute;
    background-color: #292526;
  }
}

.nav__item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  border-top: 0.5px solid #292526;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .nav__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.9rem;
            flex: 0 0 4.9rem;
    border-top: none;
    border-bottom: 0.5px solid #292526;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .nav__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    border-top: 0.5px solid #292526;
    border-bottom: none;
  }
}

@media screen and (min-width: 1280px) {
  .nav__item {
    position: absolute;
    width: 32rem;
    height: 6rem;
    margin-left: -0.6rem;
    border-left: 0.6rem solid #292526;
    border-bottom: 0.5px solid #292526;
    border-top: none;
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/brickwall.png");
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav__item--home {
    top: 0;
  }
  .nav__item--home:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
    background-color: #9fa1ad;
  }
  .nav__item--info {
    top: 6rem;
  }
  .nav__item--info:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--history {
    top: 12rem;
  }
  .nav__item--history:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--attractions {
    top: 18rem;
  }
  .nav__item--attractions:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--hospitality {
    top: 24rem;
  }
  .nav__item--hospitality:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
  .nav__item--gallery {
    top: 30rem;
  }
  .nav__item--gallery:hover, .nav__item--tab {
    -webkit-transform: translateX(-24rem);
            transform: translateX(-24rem);
  }
}

.nav__link {
  text-decoration: none;
  padding: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
}

.nav__link:hover, .nav__link:focus {
  background-color: #9fa1ad;
  border-bottom: 0.5px solid #292526;
}

.nav__link:hover .nav__icon,
.nav__link:focus .nav__icon {
  fill: #fff;
}

.nav__link:hover .nav__item-text,
.nav__link:focus .nav__item-text {
  color: #fff;
}

.nav__link--current {
  background-color: #525561;
}

.nav__link--current .nav__icon {
  fill: #fff;
}

.nav__link--current .nav__item-text {
  color: #fff;
}

.nav__icon {
  fill: #443d3f;
  height: 2.5rem;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-transition: -webkit-transform 0.4s 0.3s;
  transition: -webkit-transform 0.4s 0.3s;
  transition: transform 0.4s 0.3s;
  transition: transform 0.4s 0.3s, -webkit-transform 0.4s 0.3s;
}

.nav__icon--show {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media screen and (min-width: 1280px) {
  .nav__icon {
    height: 3rem;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 7.4rem;
            flex: 0 0 7.4rem;
  }
}

.nav__item-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  font-size: 1.1rem;
  font-family: "Proza Libre", sans-serif;
  color: #292526;
  line-height: 1.4;
  text-transform: uppercase;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .nav__item-text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .nav__item-text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .nav__item-text {
    font-size: 1.5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 24.6rem;
            flex: 0 1 24.6rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  text-align: center;
  background-color: #292526;
  z-index: 2;
}

.footer__info {
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  line-height: 3rem;
  font-family: "Proza Libre", sans-serif;
}

.header--sub {
  height: 0rem;
}

@media screen and (min-width: 1280px) {
  .header--sub {
    margin-left: calc(((100vw - 112rem - 8rem) / 2) - (100vw - 100%));
  }
}

.header__info--sub {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-clip-path: ellipse(100% 100% at 15% 0%);
          clip-path: ellipse(100% 100% at 15% 0%);
  right: auto;
  height: 8rem;
  background-color: #525561;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__info--sub {
    height: 7rem;
    width: 100%;
    -webkit-clip-path: ellipse(100% 90% at 50% 0);
            clip-path: ellipse(100% 90% at 50% 0);
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .header__info--sub {
    height: 10rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__info--sub {
    height: 8rem;
  }
}

@media screen and (min-width: 1280px) {
  .header__info--sub {
    height: 9rem;
    width: 112rem;
    margin-left: calc(((100vw - 112rem - 8rem) / 2) - (100vw - 100%));
    -webkit-clip-path: ellipse(100% 90% at 50% 0);
            clip-path: ellipse(100% 90% at 50% 0);
  }
}

@media screen and (min-width: 1600px) {
  .header__info--sub {
    width: 142rem;
    margin-left: calc(((100vw - 142rem - 8rem) / 2) - (100vw - 100%));
  }
}

.header__info-group--sub {
  height: 8rem;
  padding: 1rem 8rem 2rem 2rem;
  text-align: left;
  bottom: auto;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .header__info-group--sub {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 2rem 2rem;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .header__info-group--sub {
    padding: 2rem 8rem 2rem 3rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__info-group--sub {
    padding: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .header__info-group--sub {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__info-main--sub {
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .header__info-main--sub {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .header__info-main--sub {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .header__info-main--sub {
    font-size: 2.4rem;
  }
}

.arrow__nav {
  position: fixed;
  bottom: 4rem;
  right: 1.5rem;
  width: 4rem;
  height: 4rem;
  display: none;
  cursor: pointer;
  z-index: 1;
}

.arrow__nav--show {
  display: block;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .arrow__nav {
    right: 2.5rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .arrow__nav {
    right: 2.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .arrow__nav {
    z-index: 2;
    right: calc((100vw - 112rem - 4.8rem) / 2);
  }
}

@media screen and (min-width: 1600px) {
  .arrow__nav {
    z-index: 2;
    right: calc((100vw - 142rem - 4.8rem) / 2);
  }
}

.arrow__nav-icon {
  width: 100%;
  height: 100%;
  fill: rgba(41, 37, 38, 0.4);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.content {
  padding: 13rem 2rem 3rem;
  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("../images/brickwall.png");
  line-height: 1.8;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .content {
    padding: 10rem 6rem 3rem;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .content {
    padding: 16rem 6rem 12rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .content {
    padding: 13rem 10rem 10rem;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    margin-left: calc(((100vw - 112rem - 8rem) / 2) - (100vw - 100%));
    width: 112rem;
    padding: 15rem 12rem 10rem;
  }
}

@media screen and (min-width: 1600px) {
  .content {
    margin-left: calc(((100vw - 142rem - 8rem) / 2) - (100vw - 100%));
    width: 142rem;
    padding: 18rem 15rem 10rem;
  }
}

.content__section {
  padding-bottom: 4rem;
}

.content__header {
  font-size: 1.6rem;
  font-family: "Proza Libre", sans-serif;
  color: #292526;
  margin-bottom: 1.5rem;
  width: 100%;
}

.content__header::after {
  content: '';
  width: 100%;
  height: 2px;
  margin-top: 0.2rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: #292526;
  display: block;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

@media screen and (min-width: 1280px) {
  .content__header {
    font-size: 1.8rem;
  }
}

.content__header--show-line.content__header::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.content__info {
  font-size: 1.3rem;
  font-family: "Proza Libre", sans-serif;
  text-indent: 4rem;
  text-align: justify;
  color: #292526;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .content__info {
    font-size: 1.5rem;
    text-indent: 6rem;
  }
}

.content__small-part {
  padding-bottom: 1rem;
}

.content__list-item {
  padding-bottom: 0.5rem;
  list-style-position: inside;
  list-style-type: disc;
  text-indent: 0;
}

.content__figure {
  width: 100%;
  padding-top: 2rem;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .content__figure {
    width: 80%;
    margin: 0 auto 2rem;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .content__figure {
    width: 80%;
    margin: 2rem auto 2rem;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .content__figure {
    width: 60%;
  }
}

.content__table {
  margin-top: 2rem;
}

.content__figure-info {
  font-size: 1rem;
  font-style: italic;
  font-family: "Proza Libre", sans-serif;
  color: #292526;
  padding-top: 0.6rem;
}

.content__picture {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.table {
  width: 100%;
  background-color: white;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  border: 1px solid #93878a;
  border-collapse: collapse;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .table {
    width: 70%;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .table {
    width: 70%;
    margin: 4rem auto;
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .table {
    width: 50%;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    font-size: 1.4rem;
  }
}

.table__caption {
  padding-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  font-style: italic;
}

@media screen and (min-width: 1280px) {
  .table__caption {
    font-size: 1.4rem;
  }
}

.table__header {
  background-color: #194019;
  color: #fff;
}

.table__header-item, .table__footer-item {
  padding: 1rem;
  border: 0.5px solid white;
}

.table__footer {
  background-color: rgba(41, 37, 38, 0.81);
  color: #fff;
  font-weight: bold;
}

.table__body-item {
  padding: 0.8rem;
  border: 0.5px solid #292526;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 7rem;
  width: 100%;
  background-color: #292526;
}

@media screen and (min-width: 500px) and (orientation: landscape) {
  .gallery {
    padding: 4rem 1rem 0;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .gallery {
    padding: 8rem 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    padding: 4rem 0 0;
    margin-left: calc(((100vw - 112rem - 8rem) / 2) - (100vw - 100%));
    width: 112rem;
  }
}

@media screen and (min-width: 1600px) {
  .gallery {
    margin-left: calc(((100vw - 142rem - 8rem) / 2) - (100vw - 100%));
    width: 162rem;
  }
}

.gallery__item {
  display: block;
  font-size: 0;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 1600px) {
  .gallery {
    width: calc(1280px + 8rem);
    margin: 0 auto;
  }
}

.gallery__img {
  max-width: 100%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.gallery__img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__gallery {
  background-image: none;
}

.header__info--gallery {
  background-color: rgba(41, 37, 38, 0.8);
}
/*# sourceMappingURL=style.css.map */