.page--sub {
  background-image: url('../ravenna/ravenna.png');
}

.header__info--sub {
  clip-path: polygon(0 0, 100% 0, 100% 12%, 0 18%);
  height: 600px;
}

.header__info-group--sub {
  height: 95px;
  padding: 0 0 0 1rem;
  bottom: auto;
  top: 0;
  width: 70%;
  text-align: left;
  display: flex;
  align-items: center;
}

.footer--sub {
  background-color: rgba($color-main-txt, 0.8);
}
