$text-size: 1rem;
$font-main: 'Proza Libre', sans-serif;
$color-main-bg: #d6d7dc;
$color-main-txt: #292526;
$color-second-txt: #fff;
$color-table-header: #358a35;
$breakpoints: (
  'mobile': 500px,
  'tablet': 600px,
  'tablet-bg': 900px,
  'desktop': 1280px,
  'desktop-bg': 1600px
);

$orientations: (
  'land': landscape,
  'port': portrait
);
