$text-size: 1rem;
$font-main: 'Poppins', 'sans-serif';
$color-main-bg: #d6d7dc;
$color-main-txt: #292526;
$color-second-txt: #fff;
$color-link-subpage: #358a35;
$breakpoints: (
  'tablet': 600px,
  'desktop': 1280px
);
