.header {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @include media(desktop) {
    width: calc(100% - 8rem);
  }

  &__info {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color-main-txt, 0.8);
    clip-path: polygon(0 78%, 50% 76%, 100% 60%, 100% 20%, 50% 0, 100% 0, 100% 100%, 0 100%);

    @include media(desktop) {
      width: calc(100% - 8rem);
      clip-path: polygon(0 0, 25% 0, 10% 100%, 55% 100%, 70% 0, 100% 0, 100% 100%, 0 100%);
    }

    &-group {
      position: absolute;
      width: 100%;
      height: 22%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 2rem 4rem;
      bottom: 0;
      left: 0;
      text-align: center;
      font-family: $font-main;
      color: $color-second-txt;
      line-height: 1.4;

      @include media(desktop) {
        padding: 1rem 1rem 25rem 62%;
      }
    }

    &-main {
      font-size: 2.4rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
      transform: scale(0);
      transition: transform 0.6s;
      font-style: italic;

      &--show {
        transform: scale(1);
      }

      @include media(desktop) {
        font-size: 3rem;
      }
    }

    &-second {
      font-size: 1.2rem;
      font-weight: normal;
      transform: scale(0);
      transition: transform 0.4s 0.6s;
      font-style: italic;

      &--show {
        transform: scale(1);
      }

      @include media(desktop) {
        font-size: 1.5rem;
      }
    }
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
    background-image: url('../images/peine_small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media(tablet) {
      background-image: url('../images/peine_medium.jpg');
    }

    @include media(desktop) {
      background-image: url('../images/peine_big.jpg');
    }
  }

  &__cross {
    position: absolute;
    width: 15rem;
    height: 15rem;
    top: 3vw;
    left: 3vw;
    background-image: url('../images/lauburu.svg');
    filter: invert(95%);
    display: none;
    animation: turnCross 10s infinite linear;

    @include media(desktop) {
      display: block;
    }
  }

  &__nav {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: $text-size;

    @include media(desktop) {
      top: 0;
      right: 0;
    }
  }
}
