.header {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  @include media(desktop) {
    position: relative;
    width: 112rem;
    overflow: hidden;
    margin-left: calc((100vw - 112rem - 8rem) / 2);
  }

  @include media(desktop-bg) {
    width: 142rem;
    margin-left: calc((100vw - 142rem - 8rem) / 2);
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 28%;
    bottom: 0;
    left: 0;
    background-color: rgba($color-main-txt, 0.8);
    clip-path: ellipse(100% 100% at 50% 100%);

    @include media(mobile, land) {
      width: 45%;
      height: 100%;
      left: auto;
      right: 0;
      clip-path: ellipse(88% 100% at 95% 60%);
    }

    &-group {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 2rem 4rem;
      bottom: 0;
      left: 0;
      text-align: center;
      font-family: $font-main;
      color: $color-second-txt;

      @include media(mobile, land) {
        left: auto;
        right: 0;
        padding: 2rem 2rem 3rem;
        height: 70%;
        width: 95%;
      }

      @include media(tablet-bg, land) {
        padding: 2rem 3rem 3rem;
        height: 70%;
        width: 95%;
      }

      @include media(desktop) {
        height: 50%;
        padding: 1rem 2rem 10rem;
      }
    }

    &-main {
      font-size: 2.4rem;
      font-weight: 600;
      font-style: italic;
      padding-bottom: 0.5rem;
      transform: scale(0);
      transition: transform 0.6s;

      &--show {
        transform: scale(1);
      }

      @include media(tablet, port) {
        font-size: 3.2rem;
      }

      @include media(tablet-bg, land) {
        font-size: 3.2rem;
      }

      @include media(desktop-bg) {
        font-size: 3.6rem;
      }
    }

    &-second {
      font-size: 1.2rem;
      font-weight: normal;
      transform: scale(0);
      transition: transform 0.4s 0.6s;
      font-style: italic;

      &--show {
        transform: scale(1);
      }

      @include media(tablet, port) {
        font-size: 1.6rem;
      }

      @include media(tablet-bg, land) {
        font-size: 1.6rem;
      }

      @include media(desktop-bg) {
        font-size: 2rem;
      }
    }
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
    background-image: url('../images/peine_small.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media(mobile, land) {
      background-image: url('../images/peine_medium.jpg');
      background-position: left 30% top 30%;
    }

    @include media(tablet, port) {
      background-image: url('../images/peine_medium.jpg');
      background-position: left 35% top 30%;
    }

    @include media(desktop) {
      background-image: url('../images/peine_big.jpg');
    }
  }

  &__shadow {
    position: absolute;
    background-color: rgba($color-main-txt, 0.8);
    width: 20rem;
    height: 20rem;
    top: 0;
    right: 0;
    transform: rotate(-45deg) translateX(70%);
    clip-path: ellipse(100% 100% at 100% 10%);

    @include media(mobile, land) {
      transform: rotate(10deg) translateY(-10%);
      transform-origin: left top;
      right: auto;
      left: 0;
      height: 110%;
      width: 20%;
      clip-path: ellipse(95% 100% at 5% 30%);
    }
  }

  &__cross {
    position: absolute;
    background-image: url('../images/lauburu.svg');
    filter: invert(95%);
    transform: rotate(0);
    display: none;
    transition: 0.5s linear;

    &:hover {
      transform: rotate(0.5turn);
    }

    @include media(mobile, land) {
      display: block;
      width: 6rem;
      height: 6rem;
      top: 3rem;
      right: auto;
      left: 4%;
    }

    @include media(tablet-bg, land) {
      width: 11rem;
      height: 11rem;
      top: 4rem;
    }

    @include media(desktop) {
      width: 12rem;
      height: 12rem;
      top: 5rem;
    }
  }
}
