.nav {
  position: fixed;
  top: 0;
  right: -8rem;
  font-size: $text-size;
  height: 100%;
  width: 8rem;
  cursor: pointer;

  @include media(desktop) {
    transform: translateX(0);
    transition: 0.8s 0.4s ease;

    &--show-nav {
      transform: translateX(calc(-8rem - 5vw));
    }
  }

  &__mobile {
    top: 2rem;
    right: 2rem;
    position: fixed;
    width: 3rem;
    height: 2rem;
    z-index: 3;

    @include media(desktop) {
      display: none;
    }
  }

  &__menu {
    position: absolute;
    background-color: $color-second-txt;
    height: 0.4rem;

    &--first {
      top: 0;
      right: 0;
      transform-origin: top right;
      transform: rotate(0) scaleX(1) translateY(0);
      transition: all 0.4s 0.2s;
      width: 3rem;
    }

    &--second {
      top: 50%;
      right: 0;
      transform: rotate(0) scaleX(1) translateY(-0.2rem);
      transform-origin: 50% 0%;
      opacity: 1;
      visibility: visible;
      transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s;
      width: 2.5rem;
    }

    &--third {
      bottom: 0;
      right: 0;
      transform-origin: bottom right;
      transform: rotate(0) scaleX(1) translateY(0);
      transition: all 0.4s 0.2s;
      width: 2rem;
    }

    &--close-first {
      transform: rotate(-45deg) scaleX(0.95) translateY(-0.2rem);
      background-color: $color-main-txt;
    }

    &--close-second {
      transform: rotate(-45deg) scaleX(1.1) translateY(-0.2rem);
      opacity: 0;
      visibility: hidden;
      background-color: $color-main-txt;
    }

    &--close-third {
      transform: rotate(45deg) scaleX(1.4) translateY(0.2rem);
      background-color: $color-main-txt;
    }
  }

  &__space {
    position: absolute;
    width: 75vw;
    height: 450px;
    top: 0;
    right: calc(-75vw + 8rem);
    transform: translateX(0);
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url('../images/brickwall.png');
    transition: 0.4s 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 0 5rem;
    box-shadow: inset 0 -2rem 0 $color-main-txt;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);

    &--show {
      transform: translateX(-100%);
    }

    @include media(desktop) {
      position: absolute;
      right: 0rem;
      width: 100%;
      height: 100%;
      transform: none;
      padding: 0;
      display: block;
      clip-path: none;
      box-shadow: none;
      border-left: 0.6rem solid $color-main-txt;

      &::after {
        display: block;
        width: 10vw;
        height: 100%;
        top: 0;
        right: -10vw;
        content: '';
        background-color: green;
        z-index: 100;
        position: absolute;
        background-color: $color-main-txt;
      }
    }
  }

  &__item {
    width: 100%;
    flex: 1 1 0;
    transition: 0.2s;

    @include media(desktop) {
      position: absolute;
      width: 32rem;
      height: 6rem;
      margin-left: -0.6rem;
      border-left: 0.6rem solid $color-main-txt;
      /* Background pattern from Toptal Subtle Patterns */
      background-image: url('../images/brickwall.png');
      transform: translateX(0);
      transition: 0.5s;

      &--home {
        top: 0;
      }

      &--home:hover,
      &--tab {
        transform: translateX(-24rem);
      }

      &--info {
        top: 6rem;
      }

      &--info:hover,
      &--tab {
        transform: translateX(-24rem);
      }

      &--history {
        top: 12rem;
      }

      &--history:hover,
      &--tab {
        transform: translateX(-24rem);
      }

      &--attractions {
        top: 18rem;
      }

      &--attractions:hover,
      &--tab {
        transform: translateX(-24rem);
      }

      &--hospitality {
        top: 24rem;
      }

      &--hospitality:hover,
      &--tab {
        transform: translateX(-24rem);
      }
      &--gallery {
        top: 30rem;
      }

      &--gallery:hover,
      &--tab {
        transform: translateX(-24rem);
      }
    }
  }

  &__link {
    text-decoration: none;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    outline: none;

    &:hover,
    &:focus {
      background-color: rgba($color-main-txt, 0.4);
    }

    &:hover .nav__icon,
    &:focus .nav__icon {
      fill: $color-second-txt;
    }

    &:hover .nav__item-text,
    &:focus .nav__item-text {
      color: $color-second-txt;
    }

    &--current {
      background-color: darken($color-link-subpage, 20%);
    }

    &--current .nav__icon {
      fill: $color-second-txt;
    }

    &--current .nav__item-text {
      color: $color-second-txt;
    }

    @include media(desktop) {
      padding: 0;
    }
  }

  &__icon {
    fill: lighten($color-main-txt, 10%);
    height: 3rem;
    transform: scale(0);
    flex-basis: 3rem;
    transition: transform 0.4s 0.3s, fill 0.2s;

    &--show {
      transform: scale(1);
    }

    @include media(desktop) {
      transform: scale(1);
      flex: 0 0 7.4rem;
    }
  }

  &__item-text {
    flex-basis: 60%;
    font-size: 1.6rem;
    font-family: $font-main;
    color: $color-main-txt;
    transition: 0.2s;
    line-height: 1.4;

    @include media(desktop) {
      flex: 0 1 24.6rem;
    }
  }
}
