.nav {
  width: 3rem;
  height: 3rem;
  cursor: pointer;

  &__menu {
    position: absolute;
    width: 3rem;
    background-color: $color_main-txt;
    height: 0.6rem;
    border-radius: 5px;
    z-index: 999;

    &--click-first {
      animation: clickMenu 1.2s infinite alternate;
    }

    &--click-second {
      animation: clickMenu 1.2s 0.2s infinite alternate;
    }

    &--click-third {
      animation: clickMenu 1.2s 0.4s infinite alternate;
    }

    &--first {
      top: 0;
      left: 0;
      transform-origin: top right;
      transform: rotate(0) scaleX(1) translateY(0);
      transition: transform 0.2s 0.2s;
    }

    &--second {
      top: 50%;
      left: 0;
      transform: rotate(0) scaleX(1) translateY(-0.3rem);
      transform-origin: 50% 0%;
      opacity: 1;
      visibility: visible;
      transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s;
    }

    &--third {
      bottom: 0;
      left: 0;
      transform-origin: bottom right;
      transform: rotate(0) scaleX(1) translateY(0);
      transition: transform 0.2s 0.2s;
    }

    &--close-first {
      transform: rotate(-45deg) scaleX(1.4) translateY(-0.3rem);
    }

    &--close-second {
      transform: rotate(-45deg) scaleX(1.3) translateY(-0.3rem);
      opacity: 0;
      visibility: hidden;
    }

    &--close-third {
      transform: rotate(45deg) scaleX(1.4) translateY(0.3rem);
    }
  }

  &__space {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background-color: rgba($color-main-bg, 0.95);
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 12vh 0 12vh;

    &--show {
      transform: translateX(0);
    }
  }

  &__item {
    width: 100%;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.2s;

    &:hover {
      background-color: rgba($color-main-txt, 0.8);
    }

    &:hover .nav__icon {
      fill: $color-second-txt;
    }

    &:hover .nav__item-text {
      color: $color-second-txt;
    }
  }

  &__icon {
    fill: lighten($color-main-txt, 20%);
    height: 3rem;
    transform: scale(0);
    flex-basis: 3rem;
    transition: transform 0.4s 0.3s, fill 0.2s;

    &--show {
      transform: scale(1);
    }
  }

  &__item-text {
    flex-basis: 60%;
    font-size: 1.8rem;
    font-family: $font-main;
    color: $color-main-txt;
    transition: 0.2s;
  }
}
