.nav {
  width: 3rem;
  height: 2rem;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  @include media(desktop) {
    width: 8rem;
    height: 100%;
  }

  &__menu {
    position: absolute;
    background-color: $color-second-txt;
    height: 0.4rem;
    z-index: 3;

    @include media(desktop) {
      display: none;
    }

    &--first {
      top: 0;
      right: 0;
      transform-origin: top right;
      transform: rotate(0) scaleX(1) translateY(0);
      transition: all 0.4s 0.2s;
      width: 3rem;
    }

    &--second {
      top: 50%;
      right: 0;
      transform: rotate(0) scaleX(1) translateY(-0.2rem);
      transform-origin: 50% 0%;
      opacity: 1;
      visibility: visible;
      transition: transform 0.2s, visibility 0.2s 0.2s, opacity 0.3s 0.2s, background-color 0.2s 0.2s;
      width: 2.5rem;
    }

    &--third {
      bottom: 0;
      right: 0;
      transform-origin: bottom right;
      transform: rotate(0) scaleX(1) translateY(0);
      transition: all 0.4s 0.2s;
      width: 2rem;
    }

    &--close-first {
      transform: rotate(-45deg) scaleX(0.95) translateY(-0.2rem);
      background-color: $color-main-txt;
    }

    &--close-second {
      transform: rotate(-45deg) scaleX(1.1) translateY(-0.2rem);
      opacity: 0;
      visibility: hidden;
      background-color: $color-main-txt;
    }

    &--close-third {
      transform: rotate(45deg) scaleX(1.4) translateY(0.2rem);
      background-color: $color-main-txt;
    }
  }

  &__space {
    position: fixed;
    width: 75%;
    height: 450px;
    top: 0;
    right: 0;
    transform: translateX(100%);
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url('../images/brickwall.png');
    transition: 0.4s 0.1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6rem 0 5rem;
    box-shadow: inset 0 -2rem 0 $color-main-txt;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
    // z-index: 3;

    &--show {
      transform: translateX(0);
    }

    @include media(desktop) {
      position: relative;
      width: 100%;
      height: 100%;
      transform: none;
      padding: 0;
      display: block;
      clip-path: none;
      box-shadow: none;
      border-left: 0.6rem solid $color-main-txt;
    }
  }

  &__item {
    width: 100%;
    flex: 1 1 0;
    transition: 0.2s;

    @include media(desktop) {
      position: fixed;
      width: 32rem;
      height: 6rem;
      right: 0;
      border-left: 0.6rem solid $color-main-txt;
      /* Background pattern from Toptal Subtle Patterns */
      background-image: url('../images/brickwall.png');
      transform: translateX(24rem);
      transition: 0.4s;

      &--home {
        top: 0;
      }

      &--home:hover,
      &--tab {
        transform: translateX(0);
      }

      &--info {
        top: 6rem;
      }

      &--info:hover,
      &--tab {
        transform: translateX(0);
      }

      &--history {
        top: 12rem;
      }

      &--history:hover,
      &--tab {
        transform: translateX(0);
      }

      &--attractions {
        top: 18rem;
      }

      &--attractions:hover,
      &--tab {
        transform: translateX(0);
      }

      &--hospitality {
        top: 24rem;
      }

      &--hospitality:hover,
      &--tab {
        transform: translateX(0);
      }
      &--gallery {
        top: 30rem;
      }

      &--gallery:hover,
      &--tab {
        transform: translateX(0);
      }
    }
  }

  &__link {
    text-decoration: none;
    padding: 0 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &:hover,
    &:focus {
      background-color: rgba($color-main-txt, 0.4);
    }

    &:hover .nav__icon,
    &:focus .nav__icon {
      fill: $color-second-txt;
    }

    &:hover .nav__item-text,
    &:focus .nav__item-text {
      color: $color-second-txt;
    }

    &--current {
      background-color: darken($color-link-subpage, 20%);
    }

    &--current .nav__icon {
      fill: $color-second-txt;
    }

    &--current .nav__item-text {
      color: $color-second-txt;
    }

    @include media(desktop) {
      padding: 0;
    }
  }

  &__icon {
    fill: lighten($color-main-txt, 10%);
    height: 3rem;
    transform: scale(0);
    flex-basis: 3rem;
    transition: transform 0.4s 0.3s, fill 0.2s;

    &--show {
      transform: scale(1);
    }

    @include media(desktop) {
      transform: scale(1);
      flex: 0 0 8rem;
    }
  }

  &__item-text {
    flex-basis: 60%;
    font-size: 1.6rem;
    font-family: $font-main;
    color: $color-main-txt;
    transition: 0.2s;
    line-height: 1.4;

    @include media(desktop) {
      flex: 0 1 24rem;
    }
  }
}
